<ion-header >
  <ion-navbar color="primary">
    <ion-title style="background: #4d7498">

      <img class="logo__imagem" (click)="iniciar()" style="height:100%" src="assets/img/logo.png"/>
      <div style="margin-left: 20%">Biblia 3D Conversation</div>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content *ngIf="!abrirGif" >
<div style="height:130px">
  <img  (click)="startListening()"  style="height:130%; margin-top: 60%; position: relative;margin-left: 50%;transform: translateX(-50%);" center src="assets/img/micro.png"/>
</div>
  


</ion-content>
<ion-content *ngIf="abrirGif" style="background-color: black;">
  <div >
    <img  src="assets/img/watson.gif" style="margin-top: 36%; position: relative;margin-left: 50%;transform: translateX(-50%);"/>
  </div>
</ion-content>